<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="file:AdView" value="AdView.dll"/>
      <add key="file:VText" value="VText.dll"/>
      <add key="file:MSCAL" value="MSCAL.OCX"/>
      <add key="file:ComandoCentralUsuario" value="Comando_Central_Usuario.mdb"/>
      <add key="file:Seguranca" value="Seguranca.mdw"/>
      <add key="file:Log" value="Log.txt"/>
      <add key="file:Version" value="Version.txt"/>
      <add key="folder:ComandoCentraltempfolder" value="ComandoCentral"/>
      <add key="folder:ComandoCentralsourcesharedfolder" value="\\ariel\comando$"/>
      <!--<add key="folder:ComandoCentralsourcesharedfolder" value="C:\Users\vsantana\Documents\Comando Central\test"/>-->

      <!--
      <add key="file:AdView" value="AdView.dll"/>
      <add key="file:VText" value="VText.dll"/>
      <add key="file:MSCAL" value="MSCAL.OCX"/>
      <add key="file:ComandoCentralUsuario" value="Comando_Central_Usuario.mdb"/>
      <add key="file:Seguranca" value="Seguranca.mdw"/>
      <add key="file:Log" value="Log.txt"/>
      <add key="file:Version" value="Version.txt"/>
      <add key="folder:ComandoCentraltempfolder" value="ComandoCentral"/>
      <add key="folder:ComandoCentralsourcesharedfolder" value="\\ariel\comando$"/>
      -->
    </appSettings>
   
  <!--
    <add key="ida:Tenant" value="vwsmsdn.onmicrosoft.com" />
    <add key="ida:ClientId" value="9b7c450a-3e94-4e2b-8fdb-740ee5e1cc7c" />
    <add key="ida:RedirectUri" value="http://NativeWPFApp" />
    <add key="todo:TodoListResourceId" value="https://VWSMSDN.onmicrosoft.com/LabToolWebApp" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://dotnetcore-azureauth-billlong.c9users.io" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44305/" />
    -->

</configuration>